@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  font-family: 'Montserrat', 'Work Sans', sans-serif;

}

@layer base{
  
  body {
    @apply bg-[#F4F4F2]  text-[#333333] tracking-wide
  }

  h1,h2,h3,h4,h5,h6 {
    @apply font-bold
  }

  h1{
    @apply text-4xl sm:text-5xl md:text-6xl 
  }

  h2{
    @apply text-3xl sm:text-4xl
  }

  li{
    @apply cursor-pointer
  }
}
.custom-img {
  background-image: url('../public/assets/newbgsh.png')
}

.toolkit-global{
  background-color:#141313; 
  height: 100vh;

}



button{
  @apply rounded-xl  bg-[#eb920c] 
}

.bg-card-blue {
  --tw-bg-opacity: 1;
  background-color: hsl(216 50% 16% / var(--tw-bg-opacity));
}